HOST=0.0.0.0
PORT=8080
LAB_DATA_DIR=/app/data
DOKURU_LAB_IMAGE=ghcr.io/rifuki/dokuru-lab
DOKURU_LAB_HOST=lab.dokuru.rifuki.dev
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
TRAEFIK_NETWORK=traefik-public
