[Unit]
Description=Run Dokuru Lab upload processor every 30 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=lab-cron.service

[Install]
WantedBy=timers.target
